@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.box {
  display: flex;
  gap: 3rem;
}

.content h1 {
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 30px;
  color: #14171f;
}
.content p {
  color: #14171f;
  font-size: 0.9rem;
}

.logo {
  padding: 3.25rem 0;
}

.jisr_btn {
  background-color: #2970ff;
  color: white;
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
}
.jisr_btn:hover {
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.35);
}

/* Custom Toast */
.Toastify__toast-theme--light {
  background: #2970ff !important;
  color: #fff !important;
}
.Toastify__close-button > svg {
  fill: #fff !important;
}
.toast_title {
  font-size: 1rem;
}
.toast_subtitle {
  font-size: 0.85rem;
  line-height: 20px;
}
.ct_btn {
  margin: 1em;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.75rem;
}
.ct_btn {
  background-color: #fff;
  color: #2970ff;
}
.ct_btn2 {
  background-color: #2970ff;
  color: #fff;
}

@media (max-width: 575.98px) {
  .App {
    gap: 0;
  }
  .box {
    padding: 0 1rem;
  }
  .content h1 {
    font-size: 2rem;
  }
}
